---
interface Props {
  certifications: string[];
}

const { certifications } = Astro.props;
---

<section class="mb-7">
  <h2
    class="text-base font-bold text-black mb-3 tracking-wide border-b border-black pb-1"
  >
    Certifications
  </h2>
  <div class="text-xs text-gray-700">
    {certifications.map(cert => <div>• {cert}</div>)}
  </div>
</section>
