---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section class="mb-4">
  <h2
    class="text-base font-bold text-blue-900 mb-3 tracking-wide border-b-2 border-blue-900 pb-1"
  >
    Summary
  </h2>
  <p class="text-xs leading-relaxed text-slate-600 text-justify">
    {text}
  </p>
</section>
