---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section class="mb-7">
  <h2
    class="text-base font-bold text-black mb-3 tracking-wide border-b border-black pb-1"
  >
    Summary
  </h2>
  <p class="text-xs leading-relaxed text-gray-700 text-justify">
    {text}
  </p>
</section>
